app-custom-form-control-select {

    .form-section {
        width: 100%;
        font-family: 'Kanit', sans-serif;

        .black-60 {
            color: #EDEBEB;
        }
        
        .select {
            border-radius: 10px;
            background-image: url("data:image/svg+xml;utf8,<svg fill='grey' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/><path d='M0 0h24v24H0z' fill='none'/></svg>");
            background-repeat: no-repeat;
            background-position-x: 100%;
            background-position-y: 50%;
            -webkit-appearance: none;
            -moz-appearance: none;
            border: none;
            height: 49px;
            padding: 0 25px 0 15px;
        }

        .light {
            background: #EDEBEB;
            border-radius: 10px;
            background-image: url("data:image/svg+xml;utf8,<svg fill='grey' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/><path d='M0 0h24v24H0z' fill='none'/></svg>");
            background-repeat: no-repeat;
            background-position-x: 100%;
            background-position-y: 50%;
            -webkit-appearance: none;
            -moz-appearance: none;
            border: none;
            height: 49px;
            padding: 0 25px 0 15px;
        }

        .dark {
            background: rgba(237, 235, 235, 0.1);
            color: #EDEBEB;
            border-radius: 10px;
            background-image: url("data:image/svg+xml;utf8,<svg fill='white' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/><path d='M0 0h24v24H0z' fill='none'/></svg>");
            background-repeat: no-repeat;
            background-position-x: 100%;
            background-position-y: 50%;
            -webkit-appearance: none;
            -moz-appearance: none;
            border: none;
            height: 49px;
            padding: 0 25px 0 15px;
        }
        
        .label {
            margin-bottom: 5px !important;
        }
    
    }
  
}